@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
    --cor-de-fundo: linear-gradient( 109.6deg,  #445069 11.2%, #252B48 91.1% );
    --cor-font: #5B9A8B;
    --cor-secudaria: #F7E987;
}

body{
    font-family: var(--font-family);
    font-weight: 400;
    background: var(--cor-de-fundo);
    color: var(--cor-font);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
}

h1{
    font-size: 4em;
    font-weight: 800;
}

h2{
    font-weight: 800;
    font-size: 4em;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-size: 2em;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 40px;
}

.box{

    border: 8px dashed var(--cor-secudaria);
    border-radius: 20px;
    box-shadow: 14px 20px #252B48;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 30px;
}

.dica{
    font-size: 2em;
    margin-top: 40px;
}

.btn-jogar {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 80%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 5em;
}

.btn-jogar:focus {
  outline: 0;
}

.btn-jogar:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn-jogar:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .btn-jogar {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}
